<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

    
  <div data-role="header" data-position="inline">
    <h1>AyakashiGhostHelperApp</h1>
    <a href="<%= url_for :controller => :Company, :action => :index %>" class="ui-btn-left" data-icon="refresh">
      Sync
    </a>
    <a href="<%= url_for :controller => :Company, :action => :index %>" class="ui-btn-right" data-icon="star">
	    Logout
	  </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="<%= url_for :controller => :Company, :action => :index %>"><%= Localization::Views[:news] %></a></li>
    </ul>
  </div>

</div>
