<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @company.name %></h1>
    <a href="<%= url_for :action => :show, :id => @company.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @company.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @company.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="company[name]" class="fieldLabel">Name</label>
            <input type="text" id="company[name]" name="company[name]" value="<%= @company.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[level]" class="fieldLabel">Level</label>
            <input type="text" id="company[level]" name="company[level]" value="<%= @company.level %>" <%= placeholder( "Level" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[counter]" class="fieldLabel">Counter</label>
            <input type="text" id="company[counter]" name="company[counter]" value="<%= @company.counter %>" <%= placeholder( "Counter" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[introduction]" class="fieldLabel">Introduction</label>
            <input type="text" id="company[introduction]" name="company[introduction]" value="<%= @company.introduction %>" <%= placeholder( "Introduction" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[joinway]" class="fieldLabel">Joinway</label>
            <input type="text" id="company[joinway]" name="company[joinway]" value="<%= @company.joinway %>" <%= placeholder( "Joinway" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[connectway]" class="fieldLabel">Connectway</label>
            <input type="text" id="company[connectway]" name="company[connectway]" value="<%= @company.connectway %>" <%= placeholder( "Connectway" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeelevel]" class="fieldLabel">Employeelevel</label>
            <input type="text" id="company[employeelevel]" name="company[employeelevel]" value="<%= @company.employeelevel %>" <%= placeholder( "Employeelevel" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeewater]" class="fieldLabel">Employeewater</label>
            <input type="text" id="company[employeewater]" name="company[employeewater]" value="<%= @company.employeewater %>" <%= placeholder( "Employeewater" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeetype]" class="fieldLabel">Employeetype</label>
            <input type="text" id="company[employeetype]" name="company[employeetype]" value="<%= @company.employeetype %>" <%= placeholder( "Employeetype" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[uselanguage]" class="fieldLabel">Uselanguage</label>
            <input type="text" id="company[uselanguage]" name="company[uselanguage]" value="<%= @company.uselanguage %>" <%= placeholder( "Uselanguage" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
