<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @company.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @company.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="company[name]" class="fieldLabel">Name</label>
            <input type="text" id="company[name]" name="company[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[level]" class="fieldLabel">Level</label>
            <select id="company[level]" name="company[level]" <%= placeholder("Level") %>>
              <% (1..50).each() { |i| %>
                <option value="<%=i %>"><%=i %></option>
              <% } %>
            </select>
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[counter]" class="fieldLabel">Counter</label>
            <input type="number" id="company[counter]" name="company[counter]" <%= placeholder("Counter") %> />
          </div>
      
          <div data-role="textarea">
            <label for="company[introduction]" class="fieldLabel">Introduction</label>
            <textarea rows="5" cols="30" maxlength="150" id="company[introduction]" name="company[introduction]" <%= placeholder("Introduction") %> > </textarea>
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[joinway]" class="fieldLabel">Joinway</label>
            <input type="text" id="company[joinway]" name="company[joinway]" <%= placeholder("Joinway") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[connectway]" class="fieldLabel">Connectway</label>
            <input type="text" id="company[connectway]" name="company[connectway]" <%= placeholder("Connectway") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeelevel]" class="fieldLabel">Employeelevel</label>
            <input type="text" id="company[employeelevel]" name="company[employeelevel]" <%= placeholder("Employeelevel") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeewater]" class="fieldLabel">Employeewater</label>
            <input type="text" id="company[employeewater]" name="company[employeewater]" <%= placeholder("Employeewater") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="company[employeetype]" class="fieldLabel">Employeetype</label>
            <input type="text" id="company[employeetype]" name="company[employeetype]" <%= placeholder("Employeetype") %> />
          </div>
          
          <h4 class="uselanguage">uselanguage</h4>
          <div data-role="fieldcontain" id="uselanguage" name="uselanguage" class="fieldLabel">
              <fieldset data-role="controlgroup">
                <label for="company[uselanguage1]" class="fieldLabel">English</label>
                <input type="checkbox" id="company[uselanguage1]" name="company[uselanguage1]" value="english" checked="checked" <%= placeholder("Uselanguage") %> />
                <label for="company[uselanguage2]" class="fieldLabel">中文</label>
                <input type="checkbox" id="company[uselanguage2]" name="company[uselanguage2]" value="chinese" <%= placeholder("Uselanguage") %> />
                <label for="company[uselanguage3]" class="fieldLabel">日本語</label>
                <input type="checkbox" id="company[uselanguage3]" name="company[uselanguage3]" value="japanese" <%= placeholder("Uselanguage") %> />
              </fieldset>
          </div>


      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
