<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @company.name %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @company.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Name</div>
            <div class="itemValue"><%= @company.name %></div>
          </li>
      
          <li>
            <div class="itemLabel">Level</div>
            <div class="itemValue"><%= @company.level %></div>
          </li>
      
          <li>
            <div class="itemLabel">Counter</div>
            <div class="itemValue"><%= @company.counter %></div>
          </li>
      
          <li>
            <div class="itemLabel">Introduction</div>
            <div class="itemValue"><%= @company.introduction %></div>
          </li>
      
          <li>
            <div class="itemLabel">Joinway</div>
            <div class="itemValue"><%= @company.joinway %></div>
          </li>
      
          <li>
            <div class="itemLabel">Connectway</div>
            <div class="itemValue"><%= @company.connectway %></div>
          </li>
      
          <li>
            <div class="itemLabel">Employeelevel</div>
            <div class="itemValue"><%= @company.employeelevel %></div>
          </li>
      
          <li>
            <div class="itemLabel">Employeewater</div>
            <div class="itemValue"><%= @company.employeewater %></div>
          </li>
      
          <li>
            <div class="itemLabel">Employeetype</div>
            <div class="itemValue"><%= @company.employeetype %></div>
          </li>
      
          <li>
            <div class="itemLabel">Uselanguage</div>
            <div class="itemValue"><%= @company.uselanguage1 %></div>
            <div class="itemValue"><%= @company.uselanguage2 %></div>
            <div class="itemValue"><%= @company.uselanguage3 %></div>
          </li>
      
    </ul>
  </div>

</div>
